//
//  TPAP-UAT.xcconfig
//  tpap
//
//  Created by Ramprasad A on 09/05/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

Config_Name = TWO PARTY UAT
SDK_Type=UAT
SWIFT_ACTIVE_COMPILATION_CONDITIONS=UAT
OTHER_SWIFT_FLAGS=-DUAT
BASE_URL=api-rzp.uat.com
